<app-nav-menu></app-nav-menu>
<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="content-admin">
    <div class="tittle-indicadores">
      <h1>Administrar indicadores</h1>
    </div>
    <div class="seleccion">
      <div class="box">
        <h3>Estándar</h3>
        <br />
        <select
          class="selector"
          name="estandar"
          type="selectbox"
          [formControl]="Estandar"
          (change)="estandar()">
          <option value="">Seleccionar estándar</option>
          <option *ngFor="let item of resultados" [value]="item.estandar">
            {{ item.nombreEstandar }}
          </option>
        </select>
      </div>
      <div class="box">
        <h3>Categoría</h3>
        <br />
        <select
          class="selector" name="categoria" type="selectbox"
          [formControl]="Categoria" (change)="categoria()">
          <option value="">Seleccionar categoría</option>
          <option *ngFor="let item of resultadosCategoria" [value]="item.categoria1">
            {{ item.nombreCategoria }}
        </select>
      </div>
      <div class="box">
        <h3>Subcategoría</h3>
        <br />
        <select class="selector" [formControl]="Subcategoria" (change)="subcategoria()">
          <option value="">Seleccione subcategoría</option>
          <option *ngFor="let item of resultadosSubCategoria" [value]="item.subcategoria1">
            {{ item.nombreSubcategoria }}
          </option>
        </select>
      </div>
    </div>
    <div class="botones-crear">
      <button
        *ngIf="crear" [routerLink]="['/estandares']" [routerLinkActive]="['link-active']">
        Crear nuevo estándar
      </button>

      <button
        *ngIf="crear" [routerLink]="['/categorias']" [routerLinkActive]="['link-active']">
        Crear nueva categoría
      </button>

      <button
        *ngIf="crear" [routerLink]="['/subcatego']" [routerLinkActive]="['link-active']"
        class="crear-sub">
        Crear nueva subcategoría
      </button>

      <button
        *ngIf="crear"
        [routerLink]="['/nuevo-indicador']" [routerLinkActive]="['link-active']">
        Crear nuevo indicador
      </button>

      <button
        *ngIf="crear" [routerLink]="['/indicadores-masivos']"
        [routerLinkActive]="['link-active']">
        Crear indicadores masivamente
      </button>
    </div>
    <div class="botones-eliminar">
      <button
        *ngIf="eliminar"
        [routerLink]="['/eliminar-estandar']" [routerLinkActive]="['link-active']">
        Eliminar estándar
      </button>
      <button
        *ngIf="eliminar"
        [routerLink]="['/eliminar-categoria']" [routerLinkActive]="['link-active']">
        Eliminar categoría
      </button>
      <button
        *ngIf="eliminar"
        [routerLink]="['/eliminar-subcategoria']" [routerLinkActive]="['link-active']">
        Eliminar subcategoría
      </button>
    </div>
    <div class="resultados-tabla">
      <table class="tabla-indicadores">
        <thead>
          <tr>
            <th>
              <img
                src="../../../assets/imagenes/nombreIndicador.png"
                alt="icono-nombre"
                class="mx-1"
              />
              Nombre indicador
            </th>
            <th>
              <img
                src="../../../assets/imagenes/creador.svg"
                alt="icono-creador"
                class="mx-1"/>
              Creador
            </th>
            <th>
              <img
                src="../../../assets/imagenes/fechaHora.png"
                alt="icono-fecha"
                class="mx-1"/>
              Fecha y hora creación
            </th>
            <th>
              <img
                src="../../../assets/imagenes/archivo.png"
                alt="icono-archivo"
                class="mx-1"/>
              Archivo
            </th>
            <th *ngIf="ver">
              <img src="../../../assets/imagenes/ver.png" alt="icono-ver" />
            </th>
            <th *ngIf="editar">
              <img
                src="../../../assets/imagenes/editar.png"
                alt="icono-editar"
              />
            </th>
            <th *ngIf="eliminar">
              <img
                src="../../../assets/imagenes/eliminar.png"
                alt="icono-eliminar"
              />
            </th>
            <th>
              <img
                src="../../../assets/imagenes/duplicar.png"
                alt="icono-duplicar"
              />
            </th>
            <th>
              <img src="../../../assets/imagenes/excel.png" alt="excel-icono" />
            </th>
            <th>
              <img src="../../../assets/imagenes/word.png" alt="word-icono" />
            </th>
            <th>
              <img src="../../../assets/imagenes/pdf.png" alt="pdf-icono" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadosTabla">
            <td>{{ item.indicador }}</td>
            <td>{{ item.usuario }}</td>
            <td>{{ item.fechaModificacion }}</td>
            <td>
              <a
                [routerLink]="['/Archivos-Adjuntos', item.idIndicador]"
                [routerLinkActive]="['link-active']"
                >Archivos</a
              >
            </td>
            <td *ngIf="ver">
              <img
                src="../../../assets/imagenes/ver.png"
                alt="ver-icono"
                [routerLink]="['/ver-indicador', item.idIndicador, 'ver']"
                [routerLinkActive]="['link-active']"
              />
            </td>
            <td *ngIf="editar">
              <img
                src="../../../assets/imagenes/editar.png"
                alt="editar-icono"
                [routerLink]="['/editar-indicador', item.idIndicador, 'editar']"
                [routerLinkActive]="['link-active']"
              />
            </td>
            <td *ngIf="eliminar">
              <img
                (click)="Eliminar(item.idIndicador)"
                src="../../../assets/imagenes/eliminar.png"
                alt="eliminar-icono"
              />
            </td>
            <td>
              <img
                (click)="DuplicarIndicador(item.idIndicador)"
                src="../../../assets/imagenes/duplicar.png"
                alt="duplicar-icono"
              />
            </td>
            <td>
              <img src="../../../assets/imagenes/excel.png" alt="excel-icono" />
            </td>
            <td>
              <img src="../../../assets/imagenes/word.png" alt="word-icono" />
            </td>
            <td>
              <img src="../../../assets/imagenes/pdf.png" alt="pdf-icono" />
            </td>
          </tr>
        </tbody>
      </table>
      <button>Descargar todos los archivos adjuntos</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
