@import "../../../assets/styles/main.scss";

.contenedor {
  @include contenedor;
}
.content-admin {
  @include body;
}
.tittle-indicadores {
  @include titleBody;
}
h1 {
  @include h1Body;
}

.seleccion {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  justify-content: space-around;
  height: 100px;
  padding: 10px;
}
.selector {
  background-color: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px;
  height: 40px;
  width: 280px;
  font-family: "Montserrat";
  text-align: center;
}
.botones-crear {
  height: 50px;
  padding: 5px;
  margin-top: 20px;  
  display: grid;  
  grid-template-columns: repeat(3, 0.8fr) repeat(2, 1.1fr);
  margin-left: 5%; 
  margin-right: 5%; 
}
.botones-crear button {
  background-color: $buttonPrimary;
  border-radius: 25px;
  border: 1px;
  height: 29px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45), 0px 0px 1px rgba(0, 0, 0, 0.45);
  font-weight: 700;
  font-size: 11px;
  color: #ffffff;  
  width: 95%;  
}
.botones-eliminar {
  height: 50px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 0.8fr) repeat(2, 1.1fr);
  margin-left: 5%; 
  margin-right: 5%; 
}
.botones-eliminar button {
  background-color: $buttonBackground;
  border-radius: 25px;
  height: 29px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45), 0px 0px 1px rgba(0, 0, 0, 0.45);
  font-weight: 700;
  font-size: 11px;
  color: #ffffff;
  padding: 9px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
}


.resultados-tabla {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.resultados-tabla thead th {
  width: min-content;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  height: 30px;
  padding-top: 10px;
}

table tbody td {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  height: 25px;
}
table img {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}
table tbody td {
  cursor: pointer;
}
.resultados-tabla button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 350px;
  height: 29px;
  background: $buttonDownload;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45), 0px 0px 1px rgba(0, 0, 0, 0.45);
  border-radius: 25px;
  border: 1px;
  margin-left: 30%;
  color: #ffffff;
  margin-top: 2%;
}

table { 
    border-collapse: separate;
    background-color: #ffffff;
}
td, th { 
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
tr td, th { 
    border-top-right-radius: 0;               
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}
th:first-child { 
    border-top-left-radius: 10px;
    border-left: 1px solid #000000;
}
th:last-child {   
    border-top-right-radius: 10px;
    border-right: 1px solid #000000;
}
tr:last-child td:first-child { 
    border-bottom-left-radius: 10px;
    border-left: 1px solid #000000;
}
tr:first-child td:first-child {
  border-left: 1px solid #000000;
}
tr:last-child td:last-child { 
    border-bottom-right-radius: 10px; 
    border-right: 1px solid #000000;
}
tr:first-child td:last-child {
    border-right: 1px solid #000000;
}

@media (width<1130px){
  .content-admin{
  overflow-y: scroll;
  }
  .seleccion{
    display: flex;
    flex-wrap: nowrap;
    font-weight: 500;
    font-size: 16px;
    align-content: center;
    height: 100px;
    padding: 10px;
  }
  .selector{
    background-color: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px;
    height: 40px;
    font-family: "Montserrat";
    text-align: center;
    width: auto;
  }
}
@media(width>1380px){
  .content-admin{
    height: 900px;
    }
}