@import "../../../assets/styles/main.scss";

.contenedor{
    @include contenedor;
}
.cuerpo{
    @include body;
}
.title{
  @include titleBody;
    h1{
        @include h1Body;
    }
}
.selectores{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    justify-content: space-around;
    height: max-content;
    padding: 10px;
    margin-bottom: 41px;
}
select{
    @include select;
}
.resultados-tabla thead th {
    width: min-content;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
  }
  table img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }
