<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <div class="title">
      <h1>Indicadores</h1>
    </div>
    <div class="selectores">
      <div class="box">
        <p>Estándar:</p>
        <select class="selector" [formControl]="Estandar" (change)="estandar()">
          <option value="">Seleccione estándar</option>
          <option *ngFor="let item of resultados" [value]="item.estandar">
            {{ item.nombreEstandar }}
          </option>
        </select>
      </div>
      <div class="box">
        <p>Categoría</p>
        <select [formControl]="Categoria" (change)="categoria()" class="selector">
          <option value="">Seleccione categoría</option>
          <option *ngFor="let item of resultadosCategoria" [value]="item.categoria1">
            {{ item.nombreCategoria }}
          </option>
        </select>
      </div>
      <div class="box">
        <p>Subcategoría</p>
        <select class="selector" [formControl]="Subcategoria" (change)="subcategoria()">
          <option value="">Seleccione subcategoría</option>
          <option *ngFor="let item of resultadosSubCategoria" [value]="item.subcategoria1">
            {{ item.nombreSubcategoria }}
          </option>
        </select>
      </div>
    </div>
    <div class="resultados-tabla">
      <table class="tabla-indicadores">
        <thead>
          <tr>
            <th>
              <img src="../../../assets/imagenes/nombreIndicador.png" alt="icono-indicador" class="mx-1" />
              Nombre indicador
            </th>
            <th>
              <img src="../../../assets/imagenes/creador.png" alt="icono-diligenciador" class="mx-1" />
              Ultimo que diligencio
            </th>
            <th>
              <img src="../../../assets/imagenes/fechaHora.png" alt="icono-fecha" class="mx-1" />
              Fecha y hora
            </th>
            <th>% Avance</th>
            <th>
              <img src="../../../assets/imagenes/archivo.png" alt="icono-archivo" class="mx-1" />
              Archivo
            </th>
            <th>
              <img src="../../../assets/imagenes/ver.png" alt="icono-ver" class="mx-1" />
              Ver
            </th>
            <th>
              <img src="../../../assets/imagenes/editar.png" alt="icono-editar" class="mx-1" />
              Diligenciar
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadosTabla">
            <td>{{ item.indicador }}</td>
            <td>{{ item.usuario }}</td>
            <td>{{ item.fechaModificacion }}</td>
            <td>{{ item.avance }}%</td>
            <td><a (click)="descargarArchivo(item.idIndicador,item.urlArchivo)">{{ item.urlArchivo }}</a></td>
            <td>
              <img src="../../../assets/imagenes/ver.png" alt="icono-ver" [routerLink]="[
                  '/diligenciar-indicador',item.idIndicador,'ver']" [routerLinkActive]="['link-active']" />
            </td>
            <td>
              <img src="../../../assets/imagenes/editar.png" alt="icono-editar" [routerLink]="[
                  '/diligenciar-indicador',item.idIndicador,'editar']" [routerLinkActive]="['link-active']" />
            </td>
            <td>
              <img src="../../../assets/imagenes/excel.png" alt="icono-excel" />
            </td>
            <td>
              <img src="../../../assets/imagenes/word.png" alt="icono-word" />
            </td>
            <td>
              <img src="../../../assets/imagenes/pdf.png" alt="icono-pdf" />
            </td>
          </tr>
        </tbody>
      </table>
      <button class="mt-3">Descargar todos los archivos adjuntos</button>
    </div>
  </div>
</div>
<app-footer></app-footer>