@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($colum , $row) {
  width: 80%;
  display: grid;
  grid-template-columns: repeat($colum, 1fr);
  grid-template-rows: repeat($row, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

@mixin tittleCard ($weight, $size){  
font-family: 'Montserrat';
font-style: normal;
font-weight: $weight;
font-size: $size;
color: $buttonBackground;
text-align: center;
margin-top: 39px;
margin-bottom: 39px;
}

@mixin inputCard ($width, $height){
  background: #FFFFFF;
  border: 1px solid #D0D4D9;
  border-radius: 25px;
  width: $width;
  height: $height;
}

@mixin buttonCard ($background){
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  position: absolute;
  background: $background;
  border-radius: 55px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border: 1px;
}
@mixin select {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 280px;
  height: 60px;
  border: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@mixin label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
