<Body>
    <form class = "form-horizontal">
        <br>
        <h1 class = "Form-title">
            Permisos y Registro Usuario
        </h1>
        <br>
        <div class="form-group">
            <label class="col-lg-1">Nombre:</label>
            <input type="Nombre_com" name ="Nombre Completo" placeholder ="Nombre Completo" class="control_bas">
            <label class="col-lg-1">Email:</label>
            <input type = "email" name = "Email" placeholder="Email" class="control_bas">                
        </div>        
        <div class="form-group">
            <label class="col-lg-2">Tipo de usuario:</label>
            <input type="Type_user" name ="Type_user" placeholder ="Tipo de usuario" class="control_bas">
        </div>
        <button type="submit" class = "bot_per"> Entrar
        </button>
        <br>        
    </form>
    <br>
    <form class = "form-box-2">
        <h3 class="Form-title">
            Permisos de usuario
        </h3>        
        <table border="3" cellspacing="10" cellpadding="10" class = "Table_1" align="center">
            <tr>
                <th>Tipo de Permiso</th>             
                <th>Escritura</th>
                <th>Lectura</th>
                <th>Borrado</th>
                <th>Creación</th>
            </tr>
            <tr>
                <td>Permiso # 1</td>
                <td><input type="checkbox" name="Escritura" value="1"></td>
                <td><input type="checkbox" name="Lectura" value="1"></td>
                <td><input type="checkbox" name="Borrado" value="1"></td>
                <td><input type="checkbox" name="Create" value="1"></td>
            </tr>
            <tr>
                <td>Permiso # 2</td>
                <td><input type="checkbox" name="Escritura" value="1"></td>
                <td><input type="checkbox" name="Lectura" value="1"></td>
                <td><input type="checkbox" name="Borrado" value="1"></td>
                <td><input type="checkbox" name="Create" value="1"></td>
            </tr>
            <tr>
                <td>Permiso # 3</td>
                <td><input type="checkbox" name="Escritura" value="1"></td>
                <td><input type="checkbox" name="Lectura" value="1"></td>
                <td><input type="checkbox" name="Borrado" value="1"></td>
                <td><input type="checkbox" name="Create" value="1"></td>
            </tr>
            <tr>
                <td>Permiso # 4</td>
                <td><input type="checkbox" name="Escritura" value="1"></td>
                <td><input type="checkbox" name="Lectura" value="1"></td>
                <td><input type="checkbox" name="Borrado" value="1"></td>
                <td><input type="checkbox" name="Create" value="1"></td>
            </tr>
            <tr>
                <td>Permiso # 5</td>
                <td><input type="checkbox" name="Escritura" value="1"></td>
                <td><input type="checkbox" name="Lectura" value="1"></td>
                <td><input type="checkbox" name="Borrado" value="1"></td>
                <td><input type="checkbox" name="Create" value="1"></td>
            </tr>    
        </table>
        <br>
        <div>
            <button type="cancel" class = "bot_per_2"> Cancelar
            </button>            
            <button type="submit" class = "bot_per"> Guardar cambios
            </button>            
        </div>               
    </form>
</Body>
