<Body>
    <form class = "form-box">
        <h1 class="Form-title"> 
            Registrate
        </h1> 
        <div>
            <input type="Nombre_com" name ="Nombre Completo" placeholder ="Nombre Completo" class="control_bas">
        </div>
        <div>
            <input type="email" name ="email" placeholder ="email" class="control_bas">
        </div>
        <div>
            <input type="Cargo" name ="cargo" placeholder ="Tipo de usuario" class="control_bas">
        </div>
        <div>
            <input type="password" name ="password" placeholder ="password" class="control_bas">
        </div>
        <div>
            <button type="submit" class = "bot2">Registrar       
            </button> 
        </div>
        <div>
            <br>
            <p>Al registrate, aceptas nuestras condiciones de servicio.                
            </p>
            <p>¿Ya tienes cuenta? <a class="link" [routerLink]="['/login']">Ingresa aquí.</a> 
            </p>
        </div>
    </form>
</Body>