footer{
    width: 100%;
    height: max-content;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    background: #ffffff;
}
.footer-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    //otro footer
    height: max-content;
    background: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 10vh;
}

.imagen img{
    width: 26vh;
    margin-top: 10px;
    height: 9vh;
}
.text-footer{
    width: auto;
    height: 24px;
    display: flex;
    align-items: center;
}
.text-footer h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #9C9B9B;
}