<div class="contenedor">
  <form class="form-box">
    <h1 class="Form-title" align="center">Nueva categoria</h1>
    <div class="form-group col">
      <label for="select">Estándar</label>
      <select name="select" type="selectbox" [(ngModel)] = "Categoria.IdEstandar">        
        <option value="">Estándar</option>
        <option
          *ngFor="let resultado of resultados"
          [value]="resultado.estandar"
        >
          <h1>{{ resultado.nombreEstandar }}</h1>
        </option>
      </select>
      <label for="Categoria">Nombre categoría</label>
      <input
        type="Categoria"
        name="Categoria"
        class="form-control"
        [(ngModel)]="Categoria.NombreCategoria"
      />
    </div>
    <div>
      <button [routerLink]="['/administrar-indicadores']"
              [routerLinkActive]="['link-active']"
              type="cancel" class="bot_per_2">Cancelar</button>
      <button type="submit" class="bot_est" (click)="crear_categoria()">
        Guardar
      </button>
    </div>
  </form>
</div>
