@import "../../../assets/styles/main.scss";

  .contenedor{
   @include contenedor;
   align-items: center;
   justify-content: center;
  }
  .form-box {
    position: relative;
    width: 627px;
    height: 490px;    
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
  }
  .Form-title{
    @include tittleCard(700, 24px);
  }
.form-group{
  position: absolute;
  display: flex;  
  flex-direction: column;
  align-items: baseline;
  width: 308px;
  height: 289px;
  left: 160px;
  top: 123px;
}
.form-group select{
  @include select;
}
.form-group label{
  @include label;
}
.form-group input[type="Categoria"]{
  margin-top: 10px;
  @include inputCard(280, 48px);
}
.form-box input[type="Categoria"] :focus{
  border-color: aqua;
}
.bot_est{
  @include buttonCard($buttonPrimary);
  width: 123px;
  height: 47px;
  left: calc(50% - 123px/2 + 115px);
  top: calc(50% - 47px/2 + 204px);
  cursor: pointer;
  }
.bot_per_2{
  @include buttonCard($buttonSecondary);
  width: 130px;
  height: 47px;
  left: calc(50% - 130px/2 - 106.5px);
  top: calc(50% - 47px/2 + 204px);
  cursor: pointer;
}