<app-nav-menu></app-nav-menu>
<div class="contenedor">
  <form class="form-box">
    <div class="text-center mx-5 px-5">
      <ngb-alert #selfClosingAlert *ngIf="successMessage" type="danger" [dismissible]="false" id="Alert"
        (closed)="successMessage = ''">{{ successMessage }}
      </ngb-alert>
    </div>
    <div class="title">
      <h1 class="Form-title">
        Nueva categoría
      </h1>
    </div>

    <div class="form-group">
      <div class="row">
        <label for="select">Estándar</label>
      </div>
      <div class="row">
        <select class="selector" [formControl]="Estandar" (change)="estandar()" id="estandar">
          <option value="0">Estándar</option>
          <option *ngFor="let resultado of resultados" [value]="resultado.estandar">
            <h1>{{ resultado.nombreEstandar}}</h1>
          </option>
        </select>
      </div>
      <div class="row">
        <label for="Categoria">Nombre categoría</label>
      </div>
      <div class="row">
        <input type="Categoria" name="Categoria" class="form-control" [(ngModel)]="Categoria.NombreCategoria" />
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button [routerLink]="['/administrar-indicadores']" [routerLinkActive]="['link-active']" type="cancel"
          class="bot_per_2">Cancelar</button>
        <button type="submit" class="bot_est" (click)="crear_categoria()">
          Guardar
        </button>
      </div>
    </div>
  </form>
  <div class="cerrar">
    <div class="circulo">
      <a [routerLink]="['/administrar-indicadores']" [routerLinkActive]="['link-active']">
        X
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>