@import "../../../assets/styles/main.scss";

.contenedor{
  @include contenedor;
  align-items: center;
  justify-content: center;
}
.cerrar{
  height: 450px;
  width: 50px;
}
.circulo{
  width: max-content;
  height: max-content;
  border-radius: 100%;
  border: 1px black solid;    
  width: 25px;
  height: 25px;
  display: block;
  text-align: center;
}
.cerrar .circulo a{
  cursor: pointer;
  text-decoration: none;
  color: black;  
  cursor: pointer;
}
  .form-box {
    position: relative;
    width: 627px;
    height: 361px;
    background: $background-color;
    border-radius: 15px;
  }
  .Form-title{    
    @include tittleCard(700, 24px);
  }
.form-box input[type="Estandar"]{
  margin-top: 10px;
  width: 300 px;
  @include inputCard(280px, 48px);
}
.form-box input[type="Estandar"] :focus{
  border-color: aqua;
}
.form-group{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  margin-left: 175px;
}
.bot_est{
    @include buttonCard($buttonPrimary);
    width: 123px;
    height: 47px;
    left: calc(50% - 123px/2 + 115px);
    cursor: pointer;
  }
  .bot_per_2{
    @include buttonCard($buttonSecondary);    
    width: 130px;
    height: 47px;
    left: calc(50% - 130px/2 - 106.5px);
    cursor: pointer;
  }
  