<app-nav-menu></app-nav-menu>
<div class="contenedor">
  <form class="form-box">
    <div class="text-center">
      <ngb-alert #selfClosingAlert *ngIf="successMessage" type="danger" [dismissible]="false" id="Alert"
        (closed)="successMessage = ''">{{ successMessage }}
      </ngb-alert>
    </div>
    <div class="title">
      <h1 class="Form-title">
        Nuevo estándar
      </h1>
    </div>
    <div class="form-group">
      <label for="estandar">Nombre del estándar</label>
      <input type="Estandar" name="estandar" class="form-control" [(ngModel)]="Estandar.NombreEstandar">
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button [routerLink]="['/administrar-indicadores']" [routerLinkActive]="['link-active']" type="cancel"
        class="bot_per_2"> Cancelar
      </button>
      <button type="submit" class="bot_est" (click)="SetEstandar()">Guardar</button>
    </div>
  </form>
  <div class="cerrar">
    <div class="circulo">
      <a [routerLink]="['/administrar-indicadores']" [routerLinkActive]="['link-active']">
        X
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>