<header>
    <div class="container-fluid border">
      <div class="d-flex justify-content-between">
        <div class="col-2 flex-row">
          <img class="img-fluid float-left" src="../../../assets/imagenes/logo-creo.png" alt="Responsive image"
            width="231px">
        </div>
        <div class="col-8">
        </div>
        <div class="col-2 flex-row-reverse m-2">
          <img (click)="mostrarImg()"><img [src]="logo" class="img-fluid float-right" alt="Responsive image"
            width="230px">
        </div>
      </div>
    </div>
  </header>