<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title">
            <h1>Licencia</h1>
        </div>
        <div class="text-center mx-5 px-5">
            <ngb-alert #selfClosingAlert *ngIf="successMessage" type="danger" [dismissible]="false" id="Alert"
              (closed)="successMessage = ''">{{ successMessage }}
            </ngb-alert>
          </div>
        <div class="tiempo">
            <div class="inicio">
                <h5 class="mb-2">Licencia</h5>
                <input type="text" [(ngModel)]="Licencia.Licencia1">
            </div>
        </div>
        <div class="botones">
            <button class="cancelar">Cancelar</button>
            <button class="guardar" (click)="UpdateLicencia()">Guardar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
