@import "../../../assets/styles/main.scss";

.contenedor {
  @include contenedor;
}

.cuerpo {
  @include body;
  display: grid;
  //grid-gap: 10px;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  padding: 10px;
}

.v-indicadores {
  width: 100%;
  grid-column: 1;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9c9b9b;
  opacity: 0.9;
  border-radius: 15px;
  color: white;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;

  img {
    width: 160px;
    height: 150px;
    opacity: 1;
  }
}

.valores {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: large;
    font-weight: bold;
    border-bottom: 2px white solid;
    width: min-content;
    margin-bottom: 20px;
    text-align: center;
  }
}

.horizontal {
  width: 100%;
  height: 150px;
  grid-column: 2 / 4;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  color: white;
  font-weight: bold;

  img {
    width: 110px;
    height: 110px;
  }

  h3 {
    font-size: large;
    font-weight: bold;
    border-bottom: 2px white solid;
    width: min-content;
    margin-bottom: 20px;
    text-align: center;
  }

  background: rgba(0, 0, 0, 0.1);
}

.continuar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  background: #ee7d00;
  border-radius: 55px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border: 1px;
  width: 123px;
  height: 10px;
}

.reportes {
  width: 100%;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  border-radius: 15px;
  padding: 20px;
  overflow-x: auto;
  img {
    width: 100px;
    height: 100px;
  }

  background: rgba(240, 240, 240);
  display: flex;
  flex-direction: column;
}

.tablero {
  display: flex;
  height: 100%;
}

.tituloR {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: large;
    font-weight: bold;
    border-bottom: 1px #9c9b9b solid;
    width: min-content;
    margin-bottom: 20px;
    text-align: center;
    color: #9c9b9b;
    opacity: 0.9;
  }
}

.nombres {
  align-items: center;
  text-align: center;
  .icono {
    width: 20px;
    height: 20px;
    align-items: center;
  }
}

.container {
  height: 100%;
}

.separador {
  height: 50%;
}
