<app-nav-menu></app-nav-menu>
<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo" *ngIf="mostrar == true">
    <div class="v-indicadores">
      <div class="imagen">
        <img src="../../../assets/imagenes/indicadores.png" alt="indicador" />
      </div>
      <div class="valores">
        <h3>Indicadores asignados</h3>
        <p>Completados: {{completados}}</p>
        <p>Faltantes: {{faltantes}}</p>
        <p>Total: {{totales}}</p>
      </div>
    </div>
    <div class="horizontal">
      <h3>Usuarios</h3>
      <img src="../../../assets/imagenes/administardor-usuarios.png" alt="indicador" />
      <div class="parrafo">
        <p>Activos: {{activos}}</p>
        <p>Inactivos: {{inactivos}}</p>
        <p>Total: {{total}}</p>
      </div>
    </div>
    <div class="reportes border">
      <div class="tituloR">
        <h3>Reportes</h3>
      </div>
      <div class="container-fluid">
        <div class="row mt-4">
          <div *ngIf="resultadosTablaIndicadores[0]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[0].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[0].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[1]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[1].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[1].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[2]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[2].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[2].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
        </div>
        <div class="row separador"></div>
        <div class="row">
          <div *ngIf="resultadosTablaIndicadores[3]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[3].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[3].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[4]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[4].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[4].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[5]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[5].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[5].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="cuerpo" *ngIf="mostrar == false">
    <div class="v-indicadores">
      <div class="imagen">
        <img src="../../../assets/imagenes/indicadores.png" alt="indicador" />
      </div>
      <div class="valores">
        <h3>Indicadores asignados</h3>
        <p>Completados: {{completados}} </p>
        <p>Faltantes: {{faltantes}}</p>
        <p>Total: {{totales}}</p>
      </div>
    </div>
    <div class="horizontal">
      <h3>Último indicador trabajado</h3>
      <img src="../../../assets/imagenes/privateAdmin.png" alt="indicador" />
      <div *ngIf="indicadoresResultados.length > 0" class="parrafo">
        <p>Indicador</p>
        <p>"{{indicadoresResultados[0].indicador}}"</p>
        <button [routerLink]="['/diligenciar-indicador',indicadoresResultados[0].idIndicador,'editar']"
        [routerLinkActive]="['link-active']" class="continuar">Continuar</button>
      </div>
    </div>
    <div class="reportes">
      <div class="tituloR">
        <h3>Reportes</h3>
      </div>
      <div class="container-fluid">
        <div class="row mt-4">
          <div *ngIf="resultadosTablaIndicadores[0]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[0].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[0].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[1]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[1].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[1].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[2]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[2].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[2].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
        </div>
        <div class="row separador"></div>
        <div class="row">
          <div *ngIf="resultadosTablaIndicadores[3]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[3].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[3].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[4]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[4].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[4].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
          <div *ngIf="resultadosTablaIndicadores[5]" class="col-4 nombres">
            <a [routerLink]="['/reporte-final',resultadosTablaIndicadores[5].id]" [routerLinkActive]="['link-active']" type="button"><img src="../../../assets/imagenes/reportesB.png" alt="indicadores" />
              <p>{{resultadosTablaIndicadores[5].nombreReporte}}</p>
              <img class="icono" src="../../../assets/imagenes/ver.png" alt="indicador" />
              ver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>