<div class="container-principal">
  <h1>Olvido de contraseña</h1>
  <div class="container-form-div">
    <form action="" class="container-form-formularo">
      <span
        ><label for="email">Ingrese el correo electronico registrado</label>
        <input class="input-olvido-clave" type="email" name="email"
      /></span>
      <div class="containerbutton">
        <button class="button-cancelar"
        [routerLink]="['/login']">
        cancelar
      </button>
      <input class="button-enviar" type="button" value="enviar" />
      </div>
    </form>
  </div>
</div>
