<app-nav-menu></app-nav-menu>
<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title">
            <h1>Mi perfil</h1>
        </div>
        <div class="text-center mx-5">
            <ngb-alert #selfClosingAlert *ngIf="successMessage" type="danger" [dismissible]="false" id="Alert"
              (closed)="successMessage = ''">{{ successMessage }}
            </ngb-alert>
          </div>
        <div class="logo-nombre">
            <div class="nombre">
                <h5 class="mb-2">Nombre*</h5>
                <input type="text" [(ngModel)]="nombre">
            </div>
            <div class="nombre">
                <h5 class="mb-2">Correo electrónico*</h5>
                <input type="text" [(ngModel)]="email" readonly>
            </div>
        </div>
        <div class="tiempo">
            <div class="inicio">
                <h5 class="mb-2">Teléfono</h5>
                <input type="text" [(ngModel)]="telefono">
            </div>
            <div class="final">
                <button class="cambio-contraseña-btn" [routerLink]="['/cambiar-contrasena']" [routerLinkActive]="['link-active']">Cambiar contraseña</button>
            </div>
        </div>
        <div class="botones">
            <button class="cancelar" (click)="cancelar()">Cancelar</button>
            <button class="guardar" (click)="guardarConfiguracion()">Guardar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
