<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title-body">
            <h1>Editar indicador</h1>
        </div>
        <div class="formatos">
            <img src="../../../assets/imagenes/excel.png" alt="icono-excel">
            <img src="../../../assets/imagenes/word.png" alt="icono-word">
            <img src="../../../assets/imagenes/pdf.png" alt="icono-pdf">
        </div>
        <div class="seleccion">
            <div class="box">
            <h3>Estandar</h3>
            <select name="select">
                <option value="" selected>estandar1</option>
            </select>
            </div>
            <div class="box">
            <h3>Categoria</h3>
            <select name="select">
                <option value="" selected>categoria 1</option>
            </select>
            </div>
            <div class="box">
            <h3>Subcategoria</h3>
            <select name="select">
                <option value="" selected>subcategoria 1</option>
            </select>
            </div>
        </div>
        <div class="tablero">
            <div class="title-card">
                <h1>Año 2022</h1>
                <p>Indicador 1 Contenidos generales</p>
            </div>
            <div class="nombre-organizacion">
                <label for="nombre-indicador">Nombre de la organización</label>
                <br>
                <br>
                <input type="text">
            </div>
            <div class="title-finanzas">
                <h5>Finanzas</h5>
            </div>
            <div class="campos">
            <div class="campos-activos">
                <div>
                <p>Activos</p>
                </div>
                <br>
                <br>
                <div class="corriente">
                    <div>
                        <label for="corrientes">Corrientes</label>
                        <br>
                        <input type="text">
                    </div>
                    <div>
                        <label for="no-corrientes">No corrientes</label>
                        <br>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="campos-pasivos">                
               <div>
                <p>Pasivos</p>
                </div>                
                <br>
                <br>
                <div class="corriente">
                    <div>
                        <label for="corrientes">Corrientes</label>
                        <br>
                        <input type="text">
                    </div>
                <div>
                    <label for="no-corrientes">No corrientes</label>
                    <br>
                    <input type="text">
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="botones">
            <button class="cancelar">Cancelar</button>
            <button class="guardar">Guardar</button>
        </div>
    </div>
</div>
