@import "../../../assets/styles/main.scss";

.contenedor {
    @include contenedor;
    justify-content: center;
    align-items: center;
}

.cerrar {
    height: 450px;
    width: 50px;
}

.circulo {
    width: max-content;
    height: max-content;
    border-radius: 100%;
    border: 1px black solid;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
}

.cerrar .circulo a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.form-box {
    position: relative;
    width: 600px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
}

.Form-title {
    @include tittleCard(700, 24px)
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 180px;
}

.form-group label {
    @include label;
}

.form-group select {
    @include select;
    height: 40px;
    width: 280;
}

.bot_per_2 {
    @include buttonCard($buttonSecondary);
    width: 130px;
    height: 47px;
    left: calc(50% - 130px/2 - 80px);
}

.bot_est {
    @include buttonCard($buttonPrimary);
    width: 123px;
    height: 47px;
    left: calc(50% - 123px/2 + 120px);
}