@import "../../../assets/styles/main.scss";

.contenedor {
  @include contenedor;
}
.cuerpo {
  @include body;
  p {
    margin-bottom: 10px;
  }
}

h1 {
  @include h1Body;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 34px;
}

.guardar {
  width: 163px;
  height: 47px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contenedorAgregar1 {
  padding-left: 30px;
  padding-right: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 5px;
  margin-right: 10px;
}

.contenedorNumeroColumnas {
  width: 100%;
  .selector {
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 280px;
    height: 40px;
    border: 1px;
    font-family: "Montserrat";
    margin-bottom: 20px;
  }
}

.contenedorTitulo {
  margin-left: 20px;
  margin-bottom: 20px;
  input {
    width: 375px;
    height: 50px;
    border-radius: 25px;
    border: 0;
  }
}

.contenedorGraficos {
  @include centerFlex;
}

.contenedorAgregar {
  @include grid(2, 1);
  width: 95%;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 20px;

  .selector {
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 40px;
    border: 1px;
    font-family: "Montserrat";
    margin-bottom: 20px;
  }

  .contenedorSelect1 {
    justify-self: flex-start;
  }
  .contenedorSelect2 {
    justify-self: flex-end;
  }
}

.graficas {
  width: 100%;
  .data {
    @include centerFlex;
    margin-bottom: 20px;
    width: 80%;
    textarea {
      margin: 0;
    }
  }
  textarea {
    margin: 0 auto;
    width: 80%;
    height: 100px;
  }
}
