<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <h1 class="titulo">Nuevo tablero</h1>
    <div class="contenedorTitulo">
      <p>Título del tablero</p>
      <input type="text" />
    </div>
    <div class="contenedorNumeroColumnas container">
      <div class="contenedorAgregar1 w-100 row" id="contenedor">
        
      </div>
      <!--  </div>
    <div class="contenedorAgregar">
      <div class="contenedorSelect1">
        <p>Agregar</p>
        <select class="selector">
          <option value="">Seleccione una opción</option>
        </select>
      </div>
      <div class="contenedorSelect2">
        <p>Agregar</p>
        <select class="selector">
          <option value="">Seleccione una opción</option>
        </select>
      </div>
    </div>
    <div class="contenedorGraficos">
      <google-chart
        #chart
        [title]="title"
        [type]="type"
        [data]="data"
        [columnNames]="columnNames"
        [options]="options"
        [width]="width"
        [height]="height"
      >
      </google-chart>
      <google-chart
        #chart
        [title]="title"
        [type]="type"
        [data]="data"
        [columnNames]="columnNames"
        [options]="options"
        [width]="width"
        [height]="height"
      >
      </google-chart>
    </div>
    <div
      class="button"
      [routerLink]="['/nuevo-tablero']"
      routerLinkActive="router-link-active"
    > -->
      <button id="addbutton" class="guardar" (click)="agregarFila()">Agregar Fila</button>
      <button id="addbutton" class="guardar" (click)="guardar()">guardar</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
