.button-enviar {
  width: 130px;
  height: 41px;
  border-radius: 35px;
  background-color: $buttonPrimary;
}

.button-cancelar {
  width: 130px;
  height: 41px;
  border-radius: 35px;
  background-color: $buttonPrimary;
}
