.button-enviar {
  width: 130px;
  height: 41px;
  border-radius: 35px;
  background-color: $buttonPrimary;
}

.button-cancelar {
  width: 130px;
  height: 41px;
  border-radius: 35px;
  background-color: $buttonSecondary;
}

@media (max-width: 600px) {
  .button-enviar {
    width: 90%;
    margin: 0 auto 20px;
  }

  .button-cancelar {
    width: 90%;
    margin:0 auto;
  }
}
