.resultados-tabla {
  padding: 20px;
}
.resultados-tabla thead th {
  width: min-content;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  height: 30px;
  padding-top: 10px;
}

table tbody td {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  height: 25px;
}

table img {
  padding-top: 5px;
  width: 15.9px;
  height: 15.9px;
}
table tbody td {
  cursor: pointer;
}
.resultados-tabla button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 350px;
  height: 29px;
  background: $buttonDownload;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 20%), 0px 0px 1px rgba(0, 0, 0, 20%);
  border-radius: 25px;
  border: 1px;
  margin-left: 500px;
  color: #ffffff;
}

table {
  border-collapse: separate;
  width: 100%;
  background-color: #ffffff;
  border-left: rgba(0, 0, 0, 20%) 1px solid;
  border-right: rgba(0, 0, 0, 20%) 1px solid;
  border-radius: 13px;
}

tr td,
th {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

td,
th {
  border-bottom: 1px solid rgb(0, 0, 0, 20%);
  border-top: 1px solid rgb(0, 0, 0, 20%);
}

th:first-child {
  border-top-left-radius: 10px;
  border-left: 1px solid rgb(0, 0, 0, 20%);
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid rgb(0, 0, 0, 20%);
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border-left: 1px solid rgb(0, 0, 0, 20%);
}
tr:first-child td:first-child {
  border-left: 1px solid rgb(0, 0, 0, 20%);
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  
}

