<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <div class="title-indicador">
      <h1>Nuevo indicador</h1>
    </div>
    <div class="ingreso-archivo">
      <p>
        A continuación porfavor ingrese el archivo Excel para crear el
        indicador, puede descargar un ejemplo del archivo en el siguiente
        enlace:
      </p>
      <button (click)="descargarArchivo()" class="button-interactivo">
        Archivo ejemplo
      </button>
    </div>
    <div class="seleccion-estandar">
      <p>
        Seleccione estándar, categoría y subcategoría a la que pertenece el
        indicador
      </p>
      <div class="box-select">
        <div class="box">
          <h3>Estándar</h3>
          <select
            class="selector"
            name="estandar"
            type="selectbox"
            [(ngModel)]="Estandar.estandar"
            (change)="estandar()"
          >
            <option value="">Seleccionar</option>
            <option
              *ngFor="let resultado of resultados"
              [value]="resultado.estandar"
            >
              <h1>{{ resultado.nombreEstandar }}</h1>
            </option>
          </select>
        </div>
        <div class="box">
          <h3>Categoría</h3>
          <select
            class="selector"
            type="selectbox"
            [(ngModel)]="Categoria.categoria1"
            (change)="categoria()"
          >
            <option value="">Seleccionar</option>
            <option
              *ngFor="let resultadoCategoria of resultadosCategoria"
              [value]="resultadoCategoria.categoria1"
            >
              {{ resultadoCategoria.nombreCategoria }}
            </option>
          </select>
        </div>
        <div class="box">
          <h3>Subcategoría</h3>
          <select class="selector" name="select" type="selectbox">
            <option>Seleccionar</option>
            <option
              *ngFor="let item of resultadosSubCategoria"
              [value]="item.subcategoria1"
            >
              {{ item.nombreSubcategoria }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="subir-archivo">
      <p>Subir el archivo excel:</p>
      <button class="button-interactivo" (click)="capturar.click()">
        Subir
      </button>
      <!--defino el boton que me va a mostrar la información en el ensayo-->
      <!-- <button (click)="mostrar()">Mostrar</button> -->
      <input
        type="file"
        hidden
        (change)="archivoCapt($event)"
        #capturar
        id="in"
      />
    </div>
    <div class="perioricidad-indicador">
      <p>Seleccione la periodicidad de este indicador</p>
      <br />
      <h3>Periodicidad</h3>
      <br />
      <select
        name="select"
        type="selectbox"
        [(ngModel)]="nuevoIndicador.periodicidad"
        (change)="Periodicidad()"
      >
        <option value="">Seleccionar</option>
        <option *ngFor="let nombre of nombres" [value]="nombre.id">
          {{ nombre.periodicidad }}
        </option>
      </select>
    </div>
    <div class="previsualizar-indicador">
      <p>A continuación revise la previsualización del indicador:</p>
      <button
        class="button-interactivo"
        (click)="ShowData()"
        (click)="leerArchivo()"
      >
        Previsualización del indicador
      </button>
      <br />
      <div *ngIf="element == true">
        <table>
          <thead align="center">
            <tr>
              <th>Entero</th>
              <th>Num?</th>
              <th>For?</th>
              <th>For</th>
              <th>Valor</th>
              <th>T</th>
              <th>Ttexto</th>
              <th>C</th>
              <th>N</th>
              <th>S</th>
              <th>K</th>
              <th>ICol</th>
              <th>FCol</th>
              <th>SLinea</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of ExcelData">
              <td>{{ dato.Entrada }}</td>
              <td>{{ dato.Numerop }}</td>
              <td>{{ dato.Formulap }}</td>
              <td>{{ dato.Formula }}</td>
              <td>{{ dato.Valor }}</td>
              <td>{{ dato.Titulo }}</td>
              <td>{{ dato.Tamanotexto }}</td>
              <td>{{ dato.Color }}</td>
              <td>{{ dato.Negrilla }}</td>
              <td>{{ dato.Subrayado }}</td>
              <td>{{ dato.Cursiva }}</td>
              <td>{{ dato.InicioColumna }}</td>
              <td>{{ dato.FinColumna }}</td>
              <td>{{ dato.Saltodelinea }}</td>
            </tr>
          </tbody>
        </table>
        <button class="button-interactivo" (click)="HiddenData()">
          Cerrar
        </button>
      </div>
    </div>
    <div class="buttons">
      <button
        [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']"
        type="cancel"
        class="cancelar"
      >
        Cancelar
      </button>
      <button class="guardar" (click)="setNuevoIndicador()">Guardar</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
