@import "../../../assets/styles/main.scss";
.contenedor {
  @include contenedor;
}
.container {
  @include body;
}
.content-admin {
  @include body;
}
.titulo {
  width: max-content;
  @include titleBody;
}
h1 {
  @include h1Body;
  margin: 0 auto;
}

.select {
  @include select;
  margin: 10px;
}

.container-input {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-input,
.resultados-tabla {
  @include centerFlex;
}

.boton {
  @include boton($buttonPrimary);
}

img {
  margin-top: 10px;
}
