<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <div class="titulo">
      <h1>Administrador de usuarios y permisos</h1>
    </div>
    <div class="container-input">
      <div class="box">
        <h3>Tipo de usuario</h3>
        <select
          class="selector"
          [(ngModel)]="tipoUsuario.typeuser"
          (change)="tipoUsuarioFiltro()"
        >
          <option value="">Selecciona Tipo de usuario</option>
          <option
            *ngFor="let tipoUsuario of resultadosTipoUsuario"
            [value]="tipoUsuario.typeuser"
          >
            {{ tipoUsuario.nombreTipo }}
          </option>
        </select>
      </div>
      <div class="box">
        <h3>Estado</h3>
        <select
          class="selector"
          [(ngModel)]="estadoSelecionado.id"
          (change)="getEstadoFiltro()"
        >
          <option value="">Seleciona Estado</option>
          <option value="1">Activo</option>
          <option value="0">Inactivo</option>
        </select>
      </div>
      <div class="box">
        <h3>Buscar</h3>
        <input
          class="selector"
          type="select"
          name=""
          placeholder="Buscar"
          (ngModelChange)="buscar()"
          [(ngModel)]="buscarInput"
        />
        <input
          [routerLink]="['/crear-usuarios']"
          [routerLinkActive]="['link-active']"
          class="boton"
          type="button"
          value="Crear nuevo usuario"
        />
      </div>
    </div>
    <div class="resultados-tabla">
      <table class="tabla-indicadores">
        <thead>
          <tr>
            <th>
              <img
                src="../../../assets/imagenes/creador.png"
                alt="icono-nombre"
              />
              Tipo de usuario
            </th>
            <th>
              <img
                src="../../../assets/imagenes/creador.png"
                alt="icono-creador"
              />
              Nombre
            </th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Quien creo</th>

            <th>
              <img
                src="../../../assets/imagenes/editar.png"
                alt="icono-editar"
                [routerLink]="['/editar-icono']"
                [routerLinkActive]="['link-active']"
              />
            </th>
            <th>
              <img src="../../../assets/imagenes/ver.png" alt="icono-ver" />
            </th>
            <th>
              <img
                src="../../../assets/imagenes/eliminar.png"
                alt="icono-eliminar"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadosTabla">
            <td>{{ item.usarioid }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.telefono }}</td>
            <td>{{ item.correo }}</td>
            <td>{{ item.estado }}</td>
            <td>{{ item.quienRegistroUsuario }}</td>
            <td>
              <img
                (click)="tbUsuarioid(item.usarioid)"
                [routerLink]="['/crear-usuarios']"
                [routerLinkActive]="['link-active']"
                src="../../../assets/imagenes/editar.png"
                alt="editar-icono"
              />
            </td>
            <td>
              <img src="../../../assets/imagenes/ver.png" alt="ver-icono" />
            </td>
            <td>
              <img
                src="../../../assets/imagenes/eliminar.png"
                alt="icono-eliminar"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
