@import "../../../assets/styles/main.scss";

.contenedor {
  @include contenedor;
}
.cuerpo {
  @include body;
  //@include centerFlex;
  img {
    width: 25px;
    height: 25px;
  }
  h3{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 10px;
  }

  input{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.button {
    button{
        @include centerFlex;
    }
  @include centerFlex;
  margin-bottom: 20px;
}

h1 {
  @include h1Body;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 34px;
}

.contenedorSelect {
  @include grid(3, 1);
  width: 98%;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.selector {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  height: 40px;
  border: 1px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-family: "Montserrat";
}

#imgPorcentaje {
  margin: 0;
  width: 20px;
  height: 20px;
}
