<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <div class="titulo">
      <h1>Crear usuario</h1>
    </div>
    <div class="container-input">
      <div>
        <p>Nombre</p>
        <input
          class="input"
          type="text"
          [(ngModel)]="NuevoUsuario.Fullname"
          [disabled]="readonly"
        />
      </div>
      <div>
        <p>Correo electrónico</p>
        <input class="input" type="email" [(ngModel)]="NuevoUsuario.Email" [disabled]="readonly"/>
      </div>
      <div>
        <p>Teléfono</p>
        <input class="input" type="text" [(ngModel)]="NuevoUsuario.Telefono" [disabled]="readonly"/>
      </div>
      <div>
        <input
          *ngIf="mostaraGuardar"
          class="boton"
          type="button"
          value="Asignar indicadores"
          (click)="enviarUsuarioId()"
          [routerLink]="['/asignar-indicadores']"
          [routerLinkActive]="['link-active']"
        />
      </div>
    </div>
    <div class="container-tipos-usuarios">
      <h3>Tipos de usuario</h3>
      <label
        >Super Administrador
        <input
          type="radio"
          class="checkbox"
          value="1"
          (click)="inputSuperAdministrador()"
          [disabled]="readonlySuperAdministrador"
          [(ngModel)]="NuevoUsuario.Typeuser"

        />
      </label>
      <label
        >Administrador<input
          type="radio"
          class="checkbox"
          value="2"
          (click)="inputAdministrador()"
          [(ngModel)]="NuevoUsuario.Typeuser"
          [disabled]="readonlyAdministrador"
        />
      </label>
      <label
        >Usuario<input
          type="radio"
          class="checkbox"
          value="3"
          (click)="inputUsuario()"
          [(ngModel)]="NuevoUsuario.Typeuser"
          [disabled]="readonly"
        />
      </label>
    </div>
    <div class="resultados-tabla">
      <table class="tabla-indicadores">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Crear</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Administrador de indicadores</td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarIndicadores.Crear"
                [(ngModel)]="administrarIndicadores.Crear"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                [disabled]="readonlyTabla"
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarIndicadores.Ver"
                [(ngModel)]="administrarIndicadores.Ver"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarIndicadores.Editar"
                [(ngModel)]="administrarIndicadores.Editar"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarIndicadores.Eliminat"
                [(ngModel)]="administrarIndicadores.Eliminat"
                [disabled]="readonlyTabla"
              />
            </td>
          </tr>
          <tr>
            <td>Administración de usuarios y permisos</td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarPermisos.Crear"
                [(ngModel)]="administrarPermisos.Crear"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarPermisos.Ver"
                [(ngModel)]="administrarPermisos.Ver"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarPermisos.Editar"
                [(ngModel)]="administrarPermisos.Editar"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoAdministrarPermisos.Eliminat"
                [(ngModel)]="administrarPermisos.Eliminat"
                [disabled]="readonlyTabla"
              />
            </td>
          </tr>
          <tr>
            <td>Visor de eventos</td>
            <td></td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoVisorEventos.Ver"
                [(ngModel)]="visorEventos.Ver"
                [disabled]="readonlyTabla"
              />
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Gestor de notificaciones</td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoGestorNotificaciones.Crear"
                [(ngModel)]="gestorNotificaciones.Crear"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoGestorNotificaciones.Ver"
                [(ngModel)]="gestorNotificaciones.Ver"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoGestorNotificaciones.Editar"
                [(ngModel)]="gestorNotificaciones.Editar"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoGestorNotificaciones.Eliminat"
                [(ngModel)]="gestorNotificaciones.Eliminat"
                [disabled]="readonlyTabla"
              />
            </td>
          </tr>
          <tr>
            <td>Reportes</td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoReportes.Crear"
                [(ngModel)]="reportes.Crear"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoReportes.Ver"
                [(ngModel)]="reportes.Ver"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoReportes.Editar"
                [(ngModel)]="reportes.Editar"
                [disabled]="readonlyTabla"
              />
            </td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoReportes.Eliminat"
                [(ngModel)]="reportes.Eliminat"
                [disabled]="readonlyTabla"
              />
            </td>
          </tr>
          <tr>
            <td>Configuración</td>
            <td></td>
            <td></td>
            <td>
              <input
                type="checkbox"
                class="checkbox"
                *ngIf="permisoConfiguracion.Editar"
                [(ngModel)]="configuracion.Editar"
                [disabled]="readonlyTabla"
              />
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-button">
      <input
        [routerLink]="['/administrar-usuarios']"
        [routerLinkActive]="['link-active']"
        class="button-cancelar"
        type="button"
        value="Cancelar"
      />
      <input
        *ngIf="mostaraGuardar"
        class="button-enviar"
        type="button"
        value="Guardar"
        (click)="asignarIndicadores()"
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
