@import "../../../assets/styles/main.scss";
.contenedor {
  @include contenedor;
}
.container {
  @include body;
}

.titulo {
  width: max-content;
  @include titleBody;
}
h1 {
  @include h1Body;
  margin: 0 auto;
}

.container-input {
  @include grid(2, 2);
  margin-top: 40px;
}

.input {
  @include inputCard(373px, 50px);
}

.boton {
  @include boton($buttonPrimary);
  padding: 10px 17px;
  margin-top: 25px;
  height: 47px;
}

table tbody td {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  height: 25px;
}

td,
th {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 20%);
}

.container-tipos-usuarios {
  margin-left: 20px;
  margin-top: 40px;
  label {
    margin-right: 80px;
  }
}

.checkbox {
  margin-left: 19px;
  border: black 1px solid;
  width: 20px;
  height: 20px;
}

h3 {
  margin-bottom: 11px;
}

.resultados-tabla {
  margin-right: 287px;
}

.container-button {
  @include centerFlex;
  input {
    margin-right: 80px;
  }
}
@media (max-width: 700px){
  .content-admin{
  overflow-y: scroll;
  }
  .seleccion{
    display: flex;
    flex-wrap: nowrap;
    font-weight: 500;
    font-size: 16px;
    align-content: center;
    height: 100px;
    padding: 10px;
  }
}
@media(width>1380px){
  .content-admin{
    height: 900px;
    }
}
