<app-nav-menu></app-nav-menu>
<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <h1 class="titulo">Tablero</h1>
    <div class="contenedor-div">
      <a type="button">
        <div class="reportes" [routerLink]="['/reportes-indicadores']" routerLinkActive="router-link-active">
          <img src="../../../assets/imagenes/reporteIndicador.svg" alt="" />
          <p>Reporte de Indicadores</p>
        </div>
      </a>
      <a type="button">
        <div [routerLink]="['/reportes-tableros']" routerLinkActive="router-link-active" class="reportes">
          <img src="../../../assets/imagenes/reportesTableros.svg" alt="" />
          <p>Tableros</p>
        </div>
      </a>     
    </div>
  </div>
</div>
<app-footer></app-footer>