@import "../../../assets/styles/main.scss";

.contenedor {
  @include contenedor;
}
.cuerpo {
  @include body;
}
.contenedor-div {
  @include centerFlex;
  gap: 5rem;
}

h1 {
  @include h1Body;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 34px;
}

.reportes {
  @include centerFlex;
  flex-direction: column;
  //margin-right: 154px;
  width: 216px;
  height: 176px;
  background-color: #d9d9d9;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  img {
    width: 100px;
    height: 100px;
  }
}
