@import "../../../assets/styles/main.scss";

.contenedor{
    @include contenedor;
}
.cuerpo{
    @include body;
    @include centerFlex;
}

.reportes{
    @include centerFlex;
    flex-direction: column;
    margin-right: 154px;
    width: 216px;
    height: 176px;
    background-color: #D9D9D9;
    border-radius: 15px;

    img{
        width: 100px;
        height: 100px;
    }
}