<div class="contenedor">
  <form class="form-box">
    <h1 class="Form-title" align="center">Eliminar categoría</h1>
    <div class="form-group col">
      <label for="select">Estándar</label>
      <select
        class="selector"
        name="estandar"
        type="selectbox"
        [(ngModel)]="Estandar.estandar"
        (change)="estandar()"
      >
      <option value="">Estandar</option>
        <option
          *ngFor="let resultado of resultados"
          [value]="resultado.estandar"
        >
          <h1>{{ resultado.nombreEstandar }}</h1>
        </option>
      </select>
      <label for="select">Categoría</label>
      <select name="select" type="selectbox" [(ngModel)]="Categoria.categoria1">
        <option value="">Categoria</option>
        <option
          *ngFor="let resultadoCategoria of resultadosCategoria"
          [value]="resultadoCategoria.categoria1"
        >
          {{ resultadoCategoria.nombreCategoria }}
        </option>
      </select>
    </div>
    <div>
      <button
        [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']"
        type="cancel"
        class="bot_per_2"
      >
        Cancelar
      </button>
      <button type="submit" class="bot_est" (click)="eliminarCategoria()">
        Guardar
      </button>
    </div>
  </form>
  <div class="cerrar">
    <div class="circulo">
      <a [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']">
        X
      </a>
    </div>
  </div>
</div>
