@import "../../../assets/styles/main.scss";

.contenedor{
   @include contenedor;
    justify-content: center;
    align-items: center;
}
.form-box{
    position: relative;
    width: 627px;
    height: 624px; 
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
}
.Form-title{
    @include tittleCard(700, 24px);
}
.form-group{
    position: absolute;
    display: flex;  
    flex-direction: column;
    align-items: baseline;
    width: 308px;
    height: 350px;
    left: 160px;
    top: 123px;
}
.form-group label{
    @include label;
}
.form-group select{
    @include select;
}
.botones{
    border: 1px red solid;
}
.bot_per_2{
    @include buttonCard($buttonSecondary);
    width: 130px;
    height: 47px;
    left: calc(50% - 130px/2 - 103.5px);
    top: calc(50% - 47px/2 + 214.5px);
}
.bot_est{
    @include buttonCard($buttonPrimary);
    width: 123px;
    height: 47px;
    left: calc(50% - 123px/2 + 118px);
    top: calc(50% - 47px/2 + 214.5px);
}
