<div class="contenedor">
  <form class="form-box">
    <h1 class="Form-title" align="center">Eliminar subcategoría</h1>
    <div class="form-group col">      
        <label for="estandar">Estandar</label>
        <br />
        <select
          name="estandar"
          type="selectbox"
          [(ngModel)]="Estandar.estandar"
          (change)="estandar()"
        >
          <option
            *ngFor="let resultado of resultados"
            [value]="resultado.estandar"
          >
            <h1>{{ resultado.nombreEstandar }}</h1>
          </option>
        </select>
        <label for="categoria">Categoria</label>
        <br />
        <select
          name="categoria"
          type="selectbox"
          [(ngModel)]="Categoria.categoria1"
          (change)="categoria()"
        >
          <option
            *ngFor="let resultadoCategoria of resultadosCategoria"
            [value]="resultadoCategoria.categoria1"
          >
            {{ resultadoCategoria.nombreCategoria }}
          </option>
        </select>
        <label for="select">Subcategoria</label>
        <br />
        <select
          name="select"
          type="selectbox"
          (change)="categoria()"
        >
          <option
            *ngFor="let item of resultadosSubCategoria"
            [value]="item.subcategoria1"
          >
            {{ item.nombreSubcategoria }}
          </option>
        </select>
    </div>
    <div>
      <button
        [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']"
        type="cancel"
        class="bot_per_2"
      >
        Cancelar
      </button>
      <button type="submit" class="bot_est" (click)="SetEstandar()">
        Guardar
      </button>
    </div>
  </form>
</div>
