<div class="contenedor">
  <form class="form-box ">
    <div class="text-center mx-5 px-5">
      <ngb-alert #selfClosingAlert *ngIf="successMessage" type="danger" [dismissible]="false" id="Alert"
        (closed)="successMessage = ''">{{ successMessage }}
      </ngb-alert>
    </div>
    <h1 class="Form-title" align="center">Eliminar subcategoría</h1>
    <div class="form-group ">      
        <label for="estandar">Estándar</label>

        <select
          name="estandar"
          type="selectbox"
          [(ngModel)]="Estandar.estandar"
          (change)="estandar()"
        >
          <option value="">Estándar</option>
          <option
            *ngFor="let resultado of resultados"
            [value]="resultado.estandar"
          >
            <h1>{{ resultado.nombreEstandar }}</h1>
          </option>
        </select>
        <label for="categoria">Categoría</label>

        <select
          name="categoria"
          type="selectbox"
          [(ngModel)]="Categoria.categoria1"
          (change)="categoria()"
        >
          <option value="">Categoría</option>
          <option
            *ngFor="let resultadoCategoria of resultadosCategoria"
            [value]="resultadoCategoria.categoria1"
          >
            {{ resultadoCategoria.nombreCategoria }}
          </option>
        </select>
        <label for="select">Subcategoría</label>

        <select
          name="select"
          type="selectbox"
          [(ngModel)]="SubCategoria.subcategoria1"
          (change)="categoria()"
        >
        <option value="">Subcategoría</option>
          <option
            *ngFor="let item of resultadosSubCategoria"
            [value]="item.subcategoria1"
          >
            {{ item.nombreSubcategoria }}
          </option>
        </select>
    </div>
    <div>
      <button
        [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']"
        type="cancel"
        class="bot_per_2"
      >
        Cancelar
      </button>
      <button type="submit" class="bot_est" (click)="eliminarSubcategoria()">
        Guardar
      </button>
    </div>
  </form>
  <div class="cerrar">
    <div class="circulo">
      <a [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']">
        X
      </a>
    </div>
  </div>
</div>
