<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title">
            <h1>Nueva notificación</h1>
        </div>
        <div class="linea1">
        <div class="correo">
            <p>Asunto</p>
            <input type="email">
            <p>Cuerpo de correo</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="enviar">
            <p>Destinatarios</p>
            <label for="">Todos</label>
            <input type="checkbox" name="Todos" id="">
            <input type="checkbox">
        </div>
        </div>
        <div class="tiempo">
            <div class="title-configuracion">
                <p>Configuración</p>
            </div>
            <div class="checbox-enviar">
                <label for="">Enviar Inmediatamente</label>
                <input type="checkbox" name="" id="">
                <label for="">Otra fecha</label>
                <input type="checkbox" name="" id="">
                <label for="">Recordatorio periódico</label>
                <input type="checkbox" name="" id="">
                <label for="">Fecha y cantidad de indicadores faltantes</label>
                <input type="checkbox" name="" id="">
            </div>
        </div>
        <div class="botones">
            <button>Cancelar</button>
            <button>Guardar</button>
        </div>
    </div>
</div>
