<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title">
            <h1>Nueva notificación</h1>
        </div>
        <div class="linea1">
        <div class="correo">
            <p>Asunto</p>
            <input type="text" [(ngModel)]="envios.asunto">
            <p>Cuerpo de correo</p>
            <textarea name="" id="" cols="30" rows="10" [(ngModel)]="envios.mensaje"></textarea>
        </div>
        <div class="enviar">
            <div class="title-variante">
                <p>Destinatarios</p>
            </div>
            <br>
            <div class="checkbox-correo">
                <label for="">
                    <input type="checkbox" name="Todos" (change)="todosCorreos($event)" >
                    Todos
                </label>
                <label  *ngFor="let usuario of aux" >
                    <input type="checkbox" [(ngModel)]="usuario.checked">
                    {{usuario.nombre}}
                </label>
            </div>
        </div>
        </div>
        <div class="tiempo">
            <div class="title-variante">
                <p>Configuración</p>
            </div>
            <br>
            <div class="checbox-enviar">
                
                <label for="">
                    <input type="checkbox" (click)="BoxUno()" [disabled]="checkUno">
                    Enviar Inmediatamente        
                </label>
                <label for="">
                    <input type="checkbox" (click)="BoxDos()" [disabled]="checkDos">
                    Otra fecha
                    <div *ngIf="mostrarFecha==true">
                        <label for="">Fecha:  <input type="date" [(ngModel)]="fechaEspera"></label>
                        
                    </div>
                </label>
                <label for="">
                    <input type="checkbox" (click)="BoxTres()" [disabled]="checkTres">
                    Recordatorio periódico
                    <div *ngIf="mostrarPeriodico==true" class="periodico">
                        <div class="semana">
                        <label for="">
                            <input type="checkbox" (click)="casillaBoxTres()" [disabled]="semana">
                            Semana
                        </label>
                        </div>
                        <div class="dias-semana" *ngIf="semana==false">
                        <label for="">
                            <input type="checkbox" [(ngModel)]="lunes" (change)="diasElectos()">
                            Lunes
                        </label>
                        <label for="">
                            <input type="checkbox" [(ngModel)]="martes" (change)="diasElectos()">
                            Martes
                        </label>
                        <label for="">
                            <input type="checkbox" [(ngModel)]="miercoles" (change)="diasElectos()">
                            Miercoles
                        </label>
                        <label for="">
                            <input type="checkbox" [(ngModel)]="jueves" (change)="diasElectos()">
                            Jueves
                        </label>
                        <label for="">
                            <input type="checkbox" [(ngModel)]="viernes" (change)="diasElectos()">
                            Viernes
                        </label>
                        <label for="">
                            <input type="checkbox" [(ngModel)]="sabado" (change)="diasElectos()">
                            Sábado
                        </label>
                        </div>
                        <div class="dias">
                        <label for="">
                            <input type="checkbox" (click)="boxtresDias()" [disabled]="dias">
                            Días
                        </label>
                    </div>
                    <div class="numeroDias" *ngIf="dias == false">
                        <label for="">
                            Cada
                            <input type="text" maxlength="3">
                            días
                        </label>
                    </div>
                    </div>
                </label>
                <label for="">
                    <input type="checkbox" (click)="BoxCuatro()"  [disabled]="checkCua">
                    Fecha y cantidad de indicadores faltantes
                    <div *ngIf="cantidadIndicadores== true">
                        <label for="">
                            Fecha:
                            <input type="date" name="" id="">
                        </label>
                        <div class="indicadores">
                        <label for="">
                            <input type="text" name="" id="">
                            indicadores
                        </label>
                    </div>
                    </div>
                </label>
                
            </div>
        </div>
        <div class="botones">
            <button class="cancelar">Cancelar</button>
            <button class="guardar" (click)="Guardar()">Guardar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>