@import "../../../assets/styles/main.scss";
.sidebar {
background:#ffffff;
width: 260px;
height: max-content;
font-family: 'Montserrat';
font-size: 20px;
font-weight: 400;
}
.title-sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 30px;
    color: #000;
}
.box-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.link-sidebar{
    width: 180.92px;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.link-sidebar img{
    width: 30px;
    height: 20%;
    margin-right: 6px;
}
.link-sidebar a{
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: black;
    text-decoration: none;
    height: 50px;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
}