<div class="sidebar sidebar-bar-block" style="width:25%">
<h3>Administración</h3>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/indicadores.png" alt="indicador">
    <a href="">Indicadores</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/reportes.png" alt="reporte">
    <a href="">Reportes</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/administrar-indicador.png" alt="indicador">
    <a href="">Administrar indicadores</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/administardor-usuarios.png" alt="indicador">
    <a href="">Administrador de usuarios</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/visor-eventos.png" alt="indicador">
    <a href="">Visor de eventos</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/notificaciones.png" alt="indicador">
    <a href="">Notificaciones</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/configuracion.png" alt="indicador">
    <a href="">Configuraciones</a>
</div>
<div class="link-sidebar">
    <img src="../../../assets/imagenes/licencias.png" alt="indicador">
    <a href="">Licenciar</a>
</div>
</div>
