<div class="sidebar sidebar-bar-block">
  <div class="title-sidebar">
    <h3>Administración</h3>
  </div>
  <div class="box-links">
    <div
      class="link-sidebar"
      *ngIf="indicadores"
      routerLinkActive="activo"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="../../../assets/imagenes/indicadores.png" alt="indicador" />
      <a [routerLink]="['/indicadores']">Indicadores</a>
    </div>
    <div
      class="link-sidebar"
      *ngIf="reportes"
      routerLinkActive="activo"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="../../../assets/imagenes/reportes.png" alt="reporte" />
      <a [routerLink]="['/reportes']" routerLinkActive="router-link-active"
        >Reportes</a
      >
      <router-outlet></router-outlet>
    </div>
    <div class="link-sidebar" *ngIf="administrarIndicadores" routerLinkActive="activo"
    [routerLinkActiveOptions]="{ exact: true }">
      <img
        src="../../../assets/imagenes/administrar-indicador.png"
        alt="indicador"
      />
      <a
        [routerLink]="['/administrar-indicadores']"
        [routerLinkActive]="['link-active']"
        >Administrar indicadores</a
      >
    </div>
    <div class="link-sidebar" *ngIf="administrarUsuarios" routerLinkActive="activo"
    [routerLinkActiveOptions]="{ exact: true }">
      <img
        src="../../../assets/imagenes/administardor-usuarios.png"
        alt="indicador"
      />
      <a
        [routerLink]="['/administrar-usuarios']"
        [routerLinkActive]="['link-active']"
        >Administrador de usuarios</a
      >
    </div>
    <div class="link-sidebar" *ngIf="visorEventos">
      <img src="../../../assets/imagenes/visor-eventos.png" alt="indicador" />
      <a [routerLink]="['/visor-eventos']" [routerLinkActive]="['link-active']"
        >Visor de eventos</a
      >
    </div>
    <div class="link-sidebar" *ngIf="notificaciones" routerLinkActive="activo"
    [routerLinkActiveOptions]="{ exact: true }">
      <img src="../../../assets/imagenes/notificaciones.png" alt="indicador" />
      <a [routerLink]="['/gestor-noti']" [routerLinkActive]="['link-active']">
        Notificaciones
      </a>
    </div>
    <div class="link-sidebar" *ngIf="configuraciones">
      <img src="../../../assets/imagenes/configuracion.png" alt="indicador" />
      <a [routerLink]="['/configuracion']" [routerLinkActive]="['link-active']"
        >Configuraciones</a
      >
    </div>
    <div class="link-sidebar" *ngIf="licenciar" >
      <img src="../../../assets/imagenes/licencias.png" alt="indicador" />
      <a [routerLink]="['/licencia']" [routerLinkActive]="['link-active']"
        >Licenciar</a
      >
    </div>
    <div class="link-sidebar">
      <img src="../../../assets/imagenes/cerrarsesion.png" alt="indicador" />
      <a type="button" (click)="CerrarSesion()">Cerrar sesión</a>
    </div>
  </div>
</div>
