@import "../../../assets/styles/main.scss";

.contenedor{
    @include contenedor;
}
.cuerpo{
    @include body;
}
.title{
    @include titleBody;
    h1{
        @include h1Body;
    }
}
.formatos{
    border-bottom:1px gray solid;
    margin: 20px;
    display: flex;
}
.formatos img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.formato{
    margin-left: 750px;
    padding-bottom: 10px;
}
.formatos button{
    width: max-content;
    height: 29px;
    background: $buttonDownload;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45), 0px 0px 1px rgba(0, 0, 0, 0.45);
    border-radius: 25px;
    border: 1px;
    color: #ffffff;
    margin-right: 20px;
}

.tablero{
    margin: 50px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 50px;
}
.title-card{
    text-align: center;
    font-family: 'Montserrat';
    h1{
        font-weight: bold;
        font-size: xx-large;
    }
}
.title-c{
    display: flex;
    justify-content: center;
    align-items: center;
    a{      
        text-decoration: none;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
        
    }
}

h3{
    font-size: xx-large;
    font-weight: bold;
}

h2{
    font-size: x-large;
    font-weight: bold;
}

.periodicidad{
    display: flex;
    justify-content: center; 
    align-items: center; 
    p{
        font-weight: bold;
        font-size: x-large;
    }
    a{
        text-decoration: none;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.selector {
    background-color: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px;
    height: 40px;
    width: 280px;
    font-family: "Montserrat";
    text-align: center;
  }
  
.nombre-organizacion{
    height: max-content;
    margin: 20px;
    label{
        @include label;
    }
    input{
        @include inputCard (369px, 45.86px);
    }
}
.title-finanzas{
    margin: 20px;
}
.campos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        text-align: center;
    }
}
.campos-activos{
    margin: 20px;
    height: max-content;
    label{
        @include label;
    }
    input{
        @include inputCard (202px, 45.86px);
        margin-right: 10px;
    }
}
.campos-pasivos{
    margin: 20px;
    height: max-content;
    label{
        @include label;
    }
    input{
        @include inputCard (202px, 45.86px);
        margin-right: 10px;
    }
}
.corriente{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}
.botones{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.finalizar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background: $buttonBackground;
    border-radius: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px;  
    width: 123px;
    height: 47px;
    left: calc(50% - 123px/2 + 112px);
    top: calc(50% - 47px/2 + 369.5px);
}
.guardar-indicador{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background: $buttonDownload;
    border-radius: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px;  
    width: 130px;
    height: 47px;
    left: calc(50% - 130px/2 - 109.5px);
    top: calc(50% - 47px/2 + 369.5px);
    margin-right: 100px;
}

.prueba{
    input{
        border-color: yellow;
        border: 1px solid yellow;
        background-color: yellow !important;
    }
}
