<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title">
            <h1>Indicador 1</h1>
        </div>
        <div class="formatos">
            <img src="../../../assets/imagenes/excel.png" alt="icono-excel">
            <img src="../../../assets/imagenes/word.png" alt="icono-word">
            <img src="../../../assets/imagenes/pdf.png" alt="icono-pdf">
            <div class="formato">
                <button>
                    Subir archivos adjuntos
                </button>
            </div>
        </div>
        <div class="tablero">
            <div class="title-card">
              <div class="title-c">
                <a href="">--anterior </a>
                <h1>Año 2022</h1>
                <a href=""> siguiente>></a>
              </div>
                <br>
                <div class="periodicidad">                    
                <p>Trimestre</p>
                <a href=""> siguiente>></a>
                </div>
                <br>
                <p>Indicador 1 Contenidos generales</p>
            </div>
            <div class="nombre-organizacion">
                <label for="nombre-indicador">Nombre de la organización</label>
                <br>
                <br>
                <input type="text">
            </div>
            <div class="title-finanzas">
                <h5>Finanzas</h5>
            </div>
            <div class="campos">
            <div class="campos-activos">
                <div>
                <p>Activos</p>
                </div>
                <br>
                <br>
                <div class="corriente">
                    <div>
                        <label for="corrientes">Corrientes</label>
                        <br>
                        <input type="text">
                    </div>
                    <div>
                        <label for="no-corrientes">No corrientes</label>
                        <br>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="campos-pasivos">                
               <div>
                <p>Pasivos</p>
                </div>                
                <br>
                <br>
                <div class="corriente">
                    <div>
                        <label for="corrientes">Corrientes</label>
                        <br>
                        <input type="text">
                    </div>
                <div>
                    <label for="no-corrientes">No corrientes</label>
                    <br>
                    <input type="text">
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="botones">
            <button class="guardar-indicador">Guardar</button>
            <button class="finalizar">Finalizar</button>
        </div>
    </div>
</div>
