<div class="contenedor">
  <app-sidebar></app-sidebar>
  <div class="cuerpo">
    <h1 class="titulo">Reporte de indicadores</h1>
    <div class="contenedorSelect">
      <div class="box">
        <p>Usuario</p>
        <select>
          <option value="">Seleccione un usuario</option>
        </select>
      </div>
      <div class="box">
        <p>Usuario</p>
        <select>
          <option value="">Seleccione un usuario</option>
        </select>
      </div>
      <div class="box">
        <p>Usuario</p>
        <select>
          <option value="">Seleccione un usuario</option>
        </select>
      </div>
      <div class="box">
        <p>Usuario</p>
        <select>
          <option value="">Seleccione un usuario</option>
        </select>
      </div>
      <div class="box">
        <p>Usuario</p>
        <select>
          <option value="">Seleccione un usuario</option>
        </select>
      </div>
    </div>
    <div class="resultados-tabla">
      <table class="tabla-indicadores">
        <thead>
          <tr>
            <th>
              <img
                src="../../../assets/imagenes/creador.svg"
                alt="icono-nombre"
              />
              Fecha de última modificación
            </th>
            <th>
              <img
                src="../../../assets/imagenes/creador.svg"
                alt="icono-creador"
              />
              Usuario
            </th>
            <th>
              <img
                src="../../../assets/imagenes/telefono.svg"
                alt="icono-nombre"
              />
              Indicador
            </th>
            <th>
              <img
                src="../../../assets/imagenes/correo.svg"
                alt="icono-nombre"
                class="mx-1 mt-1"
              />
              Avance
            </th>
            <th>
              <img
                src="../../../assets/imagenes/estado.svg"
                alt="icono-nombre"
                class="mx-1"
              />
              Archivo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>fecha</td>
            <td>nombre</td>
            <td>101</td>
            <td>80%</td>
            <td>N/A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
