nav{
  width: 1440px;
  height: 111px;
}
.container{
  width: 1440px;
  margin: 20px;
}
 .container img{
  width: 207px;
  height: 93px;
 }
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
