<header>
  <div class="container-fluid border">
    <div class="d-flex justify-content-between">
      <div class="col-2 flex-row">
        <a [routerLink]="['/private']" [routerLinkActive]="['link-active']"><img style="object-fit: contain; width: 100%;" class=" m-2" src="../../../assets/imagenes/logo-creo.png" alt="Responsive image"
          width="230px" height="115px"></a>
      </div>
      <div class="col-8">
        <div class="nombre">
          <div class="row">
            <h1 class="empresa"><strong>Empresa:&nbsp;</strong>{{nombreempresa}}</h1>
          </div>
          <div class="row">
            <div class="dropdown">
              <img class="icono" src="../../../assets/imagenes/creador.png" alt="indicador" />
              <h2 class="nombreusuario">{{nombreUsuario}} &nbsp;</h2><p>▼</p>
              <div class="dropdown-content">
                <div><a type="button" [routerLink]="['/mi-perfil']" [routerLinkActive]="['link-active']">Mi perfil</a>
                </div>
                <div class="border"></div>
                <div><a type="button" (click)="CerrarSesion()">Cerrar sesión</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 flex-row-reverse logo-empresa" width = "230px" height="115px">
        <img class="m-2" [src]="logo" style="object-fit: contain; width: 100%;" alt="Responsive image" width="230px" height="115px">
      </div>
    </div>
  </div>
</header>