<div class="contenedor">
  <form class="form-box">
    <h1 class="Form-title" align="center">Nueva Subcategoria</h1>
    <div class="form-group col">
      <label>Estandar</label>
      <select
        class="selector"
        name="estandar"
        type="selectbox"
        [(ngModel)]="Estandar.estandar"
      >
        <option value="">Estándar</option>
        <option
          *ngFor="let resultado of resultadosEstandares"
          [value]="resultado.estandar"
        >
          {{ resultado.NombreEstandar }}
        </option>
      </select>

      <label>Categoría</label>
      <select
        class="selector"
        name="categoria"
        type="selectbox"
        [(ngModel)]="Subcategoria.IdCategoria"
      >
        <option value="">Categoría</option>
        <option
          *ngFor="let resultadoCategoria of resultados"
          [value]="resultadoCategoria.categoria1"
        >
          {{ resultadoCategoria.nombreCategoria }}
        </option>
      </select>

      <br />
      <br />
      <label>Nombre Subcategoria</label>
      <input
        type="Subcatego"
        name="Subcatego"
        class="form-control"
        [(ngModel)]="Subcategoria.NombreSubcategoria"
      />
    </div>
    <div>
      <button [routerLink]="['/administrar-indicadores']"
              [routerLinkActive]="['link-active']"
              type="cancel" class="bot_per_2">Cancelar</button>
      <button type="submit" class="bot_est" (click)="SetSubCategoria()">
        Guardar
      </button>
    </div>
  </form>
</div>
