<app-nav-menu></app-nav-menu>
<div class="contenedor">
    <app-sidebar></app-sidebar>
    <div class="cuerpo">
        <div class="title">
            <h1>Configuración</h1>
        </div>
        <div class="text-center mx-5">
            <ngb-alert #selfClosingAlert *ngIf="successMessage" type="danger" [dismissible]="false" id="Alert"
              (closed)="successMessage = ''">{{ successMessage }}
            </ngb-alert>
          </div>
        <div class="logo-nombre">
            <div class="logo">
                <h5>Logo empresa</h5>
                <div >
                <img [src]="prev" alt="logo-empresa">
                <img [src]="logoEstatico" alt=".">
                </div>
                <button
                    class="cambiar-logo"
                    (click)="capturado.click()">
                    Cambiar logo
                </button>
                <input
                    type="file"
                    hidden (change)="captImg($event)"
                    #capturado
                    id="image"
                    accept=".jpg,.png">
            </div>
            <div class="nombre">
                <h5 class="mb-2">Nombre empresa</h5>
                <input
                type="text"
                [(ngModel)]="configuracion.nombreEmpresa">
            </div>
        </div>
        <div class="titulo">
            <h5>Horizonte de tiempo</h5>
        </div>
        <div class="tiempo">
            <div class="inicio">
                <h5 class="mb-2">Año inicial</h5>
                <input
                type="number"
                maxlength="4"
                [(ngModel)]="configuracion.inicial"
                >
            </div>
            <div class="final">
                <h5 class="mb-2">Año final</h5>
                <input
                type="number"
                maxlength="4"
                [(ngModel)]="configuracion.final"
                >
            </div>
        </div>
        <div class="botones">
            <button class="cancelar" (click)="cancelar()">Cancelar</button>
            <button class="guardar" (click)="guardarConfiguracion()">Guardar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
